site_name: RetRO Wiki
site_url: https://ret-ro.io/wiki
site_dir: wiki

use_directory_urls: true

theme:
  name: material
  logo: assets/images/logo.png
  favicon: assets/images/logo.png
  site_name: RetRO Wiki
  site_description: Official RetRO documentation
  language: en
  features:
    - navigation.sections
    - navigation.expand
    - navigation.tracking
    - navigation.indexes
    - navigation.top
    - toc.follow
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

extra_css:
  - assets/styles/extra.css

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg

nav:
  - Welcome: index.md
  - Server Rules: rules.md
  - Channel: channel.md
  - Quality of Life: qol.md
  - Commands: commands.md
  - Server Information:
    - Custom NPCs: features/npc.md
    - Automatic Events: features/event.md
    - Special Coins: features/coins.md
    - Hourly Points System: features/hour.md
    - Skill Changes: features/skills.md
  - Special Maps:
      - Bio Lab Basement Floor 4: maps/bio4.md
